<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/publications">Publications</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li>alexandre[dot]lecestre[at]uni[dot]lu<li>
        		<li><a href="https://wwwen.uni.lu/index.php/research/fstm/dmath/people/alexandre_lecestre" title="University of Luxembourg" target="_blank">Insitutional page</a></li>
		</ul>
		</footer>
	</body>
</html>
